<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <title>Document</title>

    <link rel="stylesheet" href="https://prembly-assets.s3.us-east-2.amazonaws.com/email/style.css" />
  </head>
  <body
    style="
      background-color: #d0def0;
      margin: 0;
      color: #000;
      font-family: 'Alegreya', sans-serif;
    "
  >
    <div
      style="max-width: 700px; margin: 0 auto; padding: 4% 2% 4% 2%"
      ;
      class="col-md-10 col-lg-10 mx-auto"
    >
      <div
        class="col-md-4 mx-auto"
        style="margin-bottom: 20px; margin-top: 20px"
      >

      </div>

      <div
        style="
          background-color: #fff;
          border-radius: 5px;
          overflow: hidden;
          padding: 5% 4% 10% 4%;
        "
      >
      <div
      class="col-md-4 mx-auto"
      style="margin-bottom: 20px; margin-top: 20px"
    >
    </div>
          <p
            style="
              font-size: 16px;
              font-family: sans-serif;
              padding: 20px 0 0px 0;
            "
          >
            Dear {{ name }},
          </p>
        <div style="padding: 20px 0% 0px 0%">
          <p
            style="
              font-weight: 400;
              color: #003e51;
              text-align: justify;
              padding: 8 4% 8 0%;
            "
          >
            We're thrilled to inform you that your order for a custom digital portrait from Cartoonly has been received successfully!
            🖼️ Our team is excited to bring your vision to life in the digital realm.
          </p>

          <p>Here are the key details of your order: </p>

          <ul>
            <li><strong >Order Number: </strong> {{order_id}}</li>
            <li><strong >Product: </strong> Custom Digital Portrait</li>
            <li><strong >Specifications: </strong> Portrait {% if water_mark %}with{% else %}without{% endif %} water mark</li>
          </ul>

          <p
            style="
              font-weight: 400;
              color: #003e51;
              text-align: justify;
              padding: 8px 4% 8px 0%;
            "
          >
            We'll keep you informed at each stage of the process. 
            Should you have any questions, feedback, or specific requests, 
            simply reply to this email or reach out to us at cartoonly@email.com. 
            Your happiness with your custom digital portrait is our ultimate goal.
          </p>

          <p 
            style="
              font-weight: 400;
              color: #003e51;
              text-align: justify;
              padding: 8px 4% 8px 0%;
            "
            >
            Thank you for entrusting us with this special project. 
            We look forward to delivering a unique and stunning 
            digital masterpiece tailored just for you!
          </p>
        <div>
          <p style="color: #003e51; padding: 8px 0 0 0">
            Sincerely,<br />
            Cartoonly <br />
          </p>
        </div>
      
      </div>
    </div>
  </body>
</html>
